<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name = "keywords" content = "Weather app, Scraping, Python, Flask" />
	<meta name = "author" content = "Deepak Natanmai" /> 
	<meta name = "description" content = "Simple Web UI using flask" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='js/dc.js-3.1.6/dc.css') }}"/>

	<title>Elastic Run</title>
	<style type="text/css">
		body{
			background-color: #202124;
		}
		.svgtext {
			font-size:20px;
			/*text-align: center;*/
			Position : relative;
			left : 150px;
		}
	</style>	
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Commodity Crawler</a>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<select id="select_state" class="form-control">
				</select>
				<button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#settingsModal">Settings</button>				
				<button type="button" class="btn btn-success ml-3" id="initcrawl">Crawl</button>		
			</div>	

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>		
	</header>
	<main role="main" class="container">

		<div class="mt-3 col-md-12">
			<div class="card">
				<div class="card-header border-0">
					<div class="d-flex justify-content-between">
						<h3 class="card-title">Insights</h3>
						<a href="javascript:dc.filterAll(); dc.renderAll();">Reset Charts</a>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div id = "district_chart">
							<h6 class="svgtext">District</h6>
						</div>
						<div id = "veg_chart">
							<h6 class="svgtext">Commodities</h6>
						</div>
						<div id = "maxprice_chart">
							<h6 class="svgtext">Max Price</h6>
						</div>
						<div id = "minprice_chart">
							<h6 class="svgtext">Min Price</h6>
						</div>
						<div id = "modalprice_chart">
							<h6 class="svgtext">Modal Price</h6>
						</div>
					</div>					
				</div>
			</div>			

		</div>

		<!-- Modal -->
		<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Settings</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-8">
									<select class="form-control" name="state_options" id="state_options">
										<option selected="" disabled="">Select State</option>
										<option value="MH">Maharashtra</option>
										<option value="TN">Tamil Nadu</option>
										<option value="KK">Karnataka</option>
										<option value="GO">Goa</option>
										<option value="GJ">Gujarat</option>
										<option value="HR">Haryana</option>
										<option value="HP">Himachal Pradesh</option>
									</select>
									<input type="button" class="btn btn-primary" name="add_state" value="ADD" id="add_state">
								</div>								
								<div class="col-md-8 mt-2">
									<select class="form-control" name="veg_options" id="veg_options">
										<option selected="" disabled="">Select Commodity</option>
										<option value="3">Rice</option>
										<option value="1">Wheat</option>
										<option value="48">Sugar</option>
									</select>
									<input type="button" class="btn btn-primary" value="ADD" id="add_veg">
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>		

	</main>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
	<script src="{{ url_for('static', filename='js/dc.js-3.1.6/dc.js') }}"></script>

	

	<script language = "javascript">


        $(function(){
        	$.getJSON('/statelist',function(data){
        		$('#select_state').empty();
        		$('#select_state').append('<option value="" selected="" disabled="">Select a state to get Started</option>');
        		$.each(data,function(key,val){
        			// console.log(val[0]);
        			$('#select_state').append('<option value="'+val[1]+'">'+val[0]+'</option>');
        		});
        	});
        });

        $('#add_state').click(function(){
        	var newstate = $('#state_options').val();
        	var stateName = $( "#state_options option:selected" ).text();
        	console.log(newstate);
        	if(newstate != null){
        		$.post('/addstate/'+newstate+'/'+stateName,function(data){
        			alert('New State Added');
        			window.location.reload();
        		});
        	}else{
        		alert('Enter state Name :)');
        	}
        });

        $('#add_veg').click(function(){
        	var newveg = $('#veg_options').val();
        	var vegName = $( "#veg_options option:selected" ).text();
        	if(newveg != null){
        		$.post('/addveg/'+newveg+'/'+vegName,function(data){
        			alert('New Commodity Added');
        			window.location.reload();
        		});
        	}else{
        		alert('Enter Veg Name :)');
        	}
        });

        $('#initcrawl').click(function(){
        	$('#initcrawl').html('wait');
        	$.post('/scrapetodb',function(data){
        		$('#initcrawl').html('Crawl');
        		alert('Crawling Successfully Done !');
        	});

        	
        });

        $('#select_state').change(function(){
        	var state_name = $('#select_state').val();
			var districtChart = dc.pieChart('#district_chart');
			var vegChart = dc.pieChart('#veg_chart');
			var maxpriceChart = dc.rowChart('#maxprice_chart');
			var minpriceChart = dc.rowChart('#minprice_chart');
			var modalpriceChart = dc.rowChart('#modalprice_chart');
			// var pieCharta = dc.pieChart('#piea');

		d3.json("/draw/"+state_name, function(errors, people) {
			console.log(people);
			// console.log(ss[0]['district']);
			var mycrossfilter = crossfilter(people);

            // gender dimension
            var districtDim = mycrossfilter.dimension(function(data) { 
            	return data[0]; 
            });
            var districtGroup = districtDim.group().reduceCount();

            // gender dimension
            var vegDim = mycrossfilter.dimension(function(data) { 
            	return data[2]; 
            });
            var vegGroup = vegDim.group().reduceCount();            

            // gender dimension
            var maxpriceDim = mycrossfilter.dimension(function(data) { 
            	return data[4]; 
            });
            var maxpriceGroup = maxpriceDim.group().reduceCount();

            // gender dimension
            var minpriceDim = mycrossfilter.dimension(function(data) { 
            	return data[5]; 
            });
            var minpriceGroup = minpriceDim.group().reduceCount();

            // gender dimension
            var modalpriceDim = mycrossfilter.dimension(function(data) { 
            	return data[6]; 
            });
            var modalpriceGroup = modalpriceDim.group().reduceCount();

            districtChart
            .width(500)
            .height(300)
            .transitionDuration(1100)
            .externalRadiusPadding(30)
            .innerRadius(40)
            // .minAngleForLabel(10)
            .dimension(districtDim)
            .group(districtGroup)
            .on('renderlet', function(chart) {
            	chart.selectAll('rect').on('click', function(d) {
            		console.log('click!', d);
            	});
            });

            vegChart
            .width(300)
            .height(300)
            .transitionDuration(1100)
            .externalRadiusPadding(30)
            .innerRadius(40)
            // .minAngleForLabel(10)
            .dimension(vegDim)
            .group(vegGroup)
            .on('renderlet', function(chart) {
            	chart.selectAll('rect').on('click', function(d) {
            		console.log('click!', d);
            	});
            });

            maxpriceChart
		    .width(350)
		    .height(500)
		    .dimension(maxpriceDim)
		    .group(maxpriceGroup)
		    .elasticX(true);

            minpriceChart
		    .width(350)
		    .height(500)
		    .dimension(minpriceDim)
		    .group(minpriceGroup)
		    .elasticX(true);

            modalpriceChart
		    .width(350)
		    .height(500)
		    .dimension(modalpriceDim)
		    .group(modalpriceGroup)
		    .elasticX(true);

            dc.renderAll();
        });      	
        });
    </script>	

</body>
</html>